.root{
    -fx-background-image: url(port.jpg);
    -fx-background-repeat: stretch;
    -fx-background-position: left top;
    -fx-background-size: 720 480;
}

.button {
    -fx-background-color: #E8E8E8;
}

.button:hover {
    -fx-background-color: #FFA54F;
}

.button:focused {
    -fx-border-color: #FFA54F;
}